In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
data_frame=pd.read_csv("50_Startups.csv")

In [3]:
data_frame.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [4]:
data_frame.isnull().sum()

R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [5]:
data_frame.shape

(50, 5)

In [6]:
data_frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing Spend  50 non-null     float64
 3   State            50 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [7]:
data_frame.columns

Index(['R&D Spend', 'Administration', 'Marketing Spend', 'State', 'Profit'], dtype='object')

In [8]:
df=pd.get_dummies(data_frame['State'],prefix='State',drop_first=True)

In [9]:
df.head()

   State_Florida  State_New York
0              0               1
1              0               0
2              1               0
3              0               1
4              1               0

In [10]:
data_frame=pd.concat([df,data_frame],axis=1)

In [11]:
data_frame.head()

,State_Florida,State_New York,R&D Spend,Administration,Marketing Spend,State,Profit
0,0,1,165349.20,136897.80,471784.10,New York,192261.83
1,0,0,162597.70,151377.59,443898.53,California,191792.06
2,1,0,153441.51,101145.55,407934.54,Florida,191050.39
3,0,1,144372.41,118671.85,383199.62,New York,182901.99
4,1,0,142107.34,91391.77,366168.42,Florida,166187.94

In [12]:
data_frame.drop('State',axis=1,inplace=True)
data_frame.head()

,State_Florida,State_New York,R&D Spend,Administration,Marketing Spend,Profit
0,0,1,165349.20,136897.80,471784.10,192261.83
1,0,0,162597.70,151377.59,443898.53,191792.06
2,1,0,153441.51,101145.55,407934.54,191050.39
3,0,1,144372.41,118671.85,383199.62,182901.99
4,1,0,142107.34,91391.77,366168.42,166187.94

In [13]:
x=data_frame.drop('Profit',axis=1)

In [14]:
print(type(x))
print(x.size)
print(x.shape)

<class 'pandas.core.frame.DataFrame'>
250
(50, 5)

In [15]:
y=data_frame.Profit

In [16]:
type(y)

pandas.core.series.Series

In [17]:
x1=data_frame.iloc[:,:-1]
type(x1)

pandas.core.frame.DataFrame

In [18]:
x2=data_frame.iloc[:,:-1]
type(x2)

pandas.core.frame.DataFrame

In [19]:
data_frame.head()

,State_Florida,State_New York,R&D Spend,Administration,Marketing Spend,Profit
0,0,1,165349.20,136897.80,471784.10,192261.83
1,0,0,162597.70,151377.59,443898.53,191792.06
2,1,0,153441.51,101145.55,407934.54,191050.39
3,0,1,144372.41,118671.85,383199.62,182901.99
4,1,0,142107.34,91391.77,366168.42,166187.94

In [20]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=101)

In [21]:
print(type(x_train))
print(type(x_test))
print(type(y_train))
print(type(y_test))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

In [22]:
from sklearn.linear_model import LinearRegression
linear_model=LinearRegression()

In [23]:
linear_model.fit(x_train,y_train)

LinearRegression()

In [24]:
y_predicted=linear_model.predict(x_test)

In [25]:
y_predicted

array([ 86894.76154721, 153481.03271337, 119836.84114494,  98459.90083033,
       118555.73979418, 189726.00155812, 114295.31485814,  61551.29942214,
        70236.8637741 ,  47600.7674322 ])

In [26]:
from sklearn import metrics
print(linear_model.score(x_test,y_test))

0.9493973303776914

In [27]:
print(metrics.r2_score(y_predicted,y_test))

0.9501301368702999

In [28]:
print(metrics.r2_score(y_test,y_predicted))

0.9493973303776914

In [29]:
print(metrics.mean_squared_error(y_test,y_predicted))

83628721.14280978

In [30]:
print(metrics.mean_absolute_error(y_test,y_predicted))

7068.317931588192

In [31]:
print(np.sqrt(metrics.mean_squared_error(y_test,y_predicted)))

9144.874036464897

In [34]:
print("value of c (Intercetp) : ",linear_model.intercept_)

value of c (Intercetp) :  44799.983708415006

In [35]:
print("value of slope is : ",linear_model.coef_)

value of slope is :  [3.25184632e+03 5.87912913e+02 7.79452152e-01 2.06811447e-02
 3.39226824e-02]